@charset "utf-8";
/* CSS Document */


/*All divs on webpage*/
.background_div{
	background-color: #515151;
}

body{
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
}

h1{
	text-align: center;
	font-size: 36px;
	color: #CB0000;
	margin: 0%;
	padding: 0%;
	}
	
h3{
	font-size: 32px;
	color: #0200EB;
}
